SECRET_KEY=
FLASK_CONFIG=
APP_NAME=
MAIL_SERVER_PRODUCTION=
MAIL_PORT_PRODUCTION=
MAIL_USE_TLS_PRODUCTION=
MAIL_SENDER_PRODUCTION=
MAIL_USERNAME_PRODUCTION=
MAIL_PASSWORD_PRODUCTION=
MAIL_SERVER_DEVELOPMENT=
MAIL_PORT_DEVELOPMENT=
MAIL_USE_TLS_DEVELOPMENT=
MAIL_USE_SSL_DEVELOPMENT=
MAIL_SENDER_DEVELOPMENT=
MAIL_USERNAME_DEVELOPMENT=
MAIL_PASSWORD_DEVELOPMENT=
MAIL_APP_ERROR_SERVER=
MAIL_APP_ERROR_PORT=
MAIL_APP_ERROR_USE_TLS=
MAIL_APP_ERROR_SENDER=
MAIL_APP_ERROR_USERNAME=
MAIL_APP_ERROR_PASSWORD=
MAIL_APP_ERROR_APP_PASSWORD=
ADMINISTRATOR_EMAILS=
MAIL_SUBJECT_PREFIX=
SQLALCHEMY_DEVELOPMENT_DATABASE_URI=
SQLALCHEMY_PRODUCTION_DATABASE_URI=
